.Home {
    height: auto;
    min-height: 100vh;
    padding-top: 5vh;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.Home img {
    width: 100px;
    height: auto;
    margin: 2vh;
    filter: grayscale(1) invert(1) brightness(17);
}

.spot {
    width: 80%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.spot-elmt {
    border-radius: 12px;
    background-color: #d81830;
    box-shadow: 0 0 4em rgb(0,0,0,.4);
    height: 600px;
    width: 100%;
    border: none;
}

@media only screen and (max-width: 1000px) {

    .spot {
        width: 95%;
    }

}

@media only screen and (min-width: 1000px) {

    .spot {
        width: 80%;
    }

}

.bg-triangle {
    position: absolute;
    z-index: -1;
    top: 40vh;
    width: 0vw;
    height: 40vh;
    border: 0vw solid transparent;
    border-top: 40vh solid transparent;
    border-right: 100vw solid var(--dark);
}

.bg-carre {
    position: absolute;
    top: 119vh;
    width: 100vw;
    background-color: var(--dark);
    height: fit-content;
    padding-bottom: 5vh;
}

.boxes {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.boxes div {
    width: 350px;
    max-width: 80vw;
    height: 350px;
    box-shadow: 0 0 4em rgb(0,0,0,.4);
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}