.Home {
    height: auto;
    min-height: 100vh;
    padding-top: 17vh;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.Home img {
    width: 100px;
    height: auto;
    margin: 2vh;
    filter: grayscale(1) invert(1) brightness(17);
}

.spot {
    width: 80%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.spot-elmt {
    border-radius: 12px;
    background-color: #d81830;
    box-shadow: 0 0 4em rgb(0,0,0,.4);
    height: 64vh;
    width: 100%;
    border: none;
}

@media only screen and (max-width: 1000px) {

    .spot {
        width: 95%;
    }

    .boxes div {
        width: 450px;
        height: 400px;
        max-width: 95vw;
    }
    
}

@media only screen and (min-width: 1000px) {

    .spot {
        width: 80%;
    }

    .boxes div {
        width: 300px;
        height: 300px;
    }

}

.boxes {
    width: 100%;
    max-width: 1400px;
    margin-top: 100px !important;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.boxes div {
    position: relative;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    transition: all.2s;
}

.boxes div img {
    filter: none;
    box-shadow: 0 0 4em rgb(0,0,0,.4);
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border-radius: 12px;
    transition: all.2s;
}

.boxes div span {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: calc(100% - 18px);
    height: calc(100% - 18px);
    text-align: center;
    background-color: rgb(208, 14, 36, .7);
    font-weight: bold;
    font-size: xx-large;
    padding: 9px;
    border-radius: 12px;
    transition: all.2s;
}

.boxes div:hover {
    cursor: pointer;
}

.boxes div:hover img,
.boxes div:hover span {
    transform: scale(-1, 1) rotateY(180deg);
}

.boxes div:hover span {
    opacity: 1;
    backdrop-filter: blur(.2em);
}

.boxes div h2 {
    position: absolute;
    top: -1.2em;
    right: 0;
    width: fit-content;
}